| Hi #{user.fullName},
|
| Your contest has been created. We'll let you know when you match with an opponent
| Your Player : #{creatorPlayer.fullName}
| Opponent Player: #{claimerPlayer.fullName}
| Entry : $#{contestData.entryAmount}
| Max Win : $#{contestData.creatorPlayerMaxWin}
|
|
| Thanks,
| Top Prop Team
