| Hi #{user.fullName},
|
| Thank you for claiming a contest. Contest details below
| Opponent: #{creatorUser.fullName}
| Your Player : #{claimerPlayer.fullName}
| Opponent Player: #{creatorPlayer.fullName}
| Entry : $#{contestData.entryAmount}
| Max Win : $#{contestData.creatorPlayerMaxWin}
|
|
| Thanks,
| Top Prop Team